.date-container input{
    width: 250px;
    height: 30px;
}

.date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 5px;
    width: 48%;
}